#tag {
	width: 100%;
	text-align: left;
	font-size: 40px;
	margin-top: 20px;
	font-family: inherit;
	background-image: none;
	background-color: inherit;
	border: solid 1px black;
	border-radius: 5px;
}